@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');



body {
  background-color: #fbfbfb;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1 ;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  margin: 40px 0 10px;
  padding: 5px;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: 600;
  }

  p {
    color:#444;
  }
}

.post-list {
  margin: 40px 0 10px;

  h2 {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: 500;
  }

  li {
    display: block;
    padding: 5px;
    margin: 5px;
  }

  a {
    color: #444;
  }
}

